<div class="row fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input #txtTermino (keyup)="search(txtTermino.value)" type="text" class="form-control" placeholder="Buscar Usuario" />
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="loading" class="item">
    <ngx-skeleton-loader count="4" appearance="line"></ngx-skeleton-loader>
  </div>
  
  <div *ngIf="!loading" class="row fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title">Lista de Hospitales ({{ hospitals.length }})</h4>
            <button (click)="createHospitalModal()" class="btn btn-primary mb-3">
              <i class="fa fa-plus"></i> Crear Hospital
            </button>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="w100">Foto</th>
                  <th>Nombre</th>
                  <th class="text-nowrap w100">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let hospital of hospitals">
                  <td class="text-center">
                      <img (click)="updateImageModal(hospital)" [src]="hospital.image! | image: 'hospitals'" [alt]="hospital.name" class="img-photo pointer">
                  </td>
                  <td>
                      <input type="text" name=""class="form-control" placeholder="Nombre del Hospital" [(ngModel)]="hospital.name" >
                  </td>
                  <td class="text-nowrap text-center">
                    <a (click)="saveHospital(hospital)" data-toggle="tooltip" data-original-title="Guardar">
                      <i class="fa fa-save text-inverse m-r-10"></i>
                    </a>
                    <a (click)="deleteHospital(hospital)" data-toggle="tooltip" data-original-title="Eliminar">
                      <i class="fa fa-close text-danger"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div>
              <div class="btn btn-secondary mr-2">Anteriores</div>
              <div class="btn btn-secondary">Siguientes</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  